<!DOCTYPE html>
<html>
  <head>
    <title>Devkara</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- tailwind css/!-->
    <%= render "shared/links/links_js" %>
  </head>

  <body class="bg-gray-200">
    <div class="mt-20">

    <%= render 'shared/navbar/navbar' %>
    <%= yield %>
    <%= render 'shared/navbar/noticed' %>
    </div>

  </body>
</html>
