<!DOCTYPE html>
<html>
  <head>
    <title>Devkara</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- tailwind css/!-->
    <%= render "shared/links_js" %>
  </head>

  <body>
    <%= yield %>

    <%= render "shared/noticed" %>
  </body>
</html>
